<ion-view view-title="APP主页">
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" ui-sref="reservation">
                <i class="icon ion-document-text"></i>
                查看您的预定
            </a>
            <a class="item item-icon-left" ui-sref="restaurant">
                <i class="icon ion-ios-sunny"></i>
                查看附近餐馆
            </a>
            <a class="item item-icon-left" ui-sref="weather">
                <i class="icon ion-fork"></i>
                当前天气预报
            </a>
        </div>

    </ion-content>
</ion-view>