<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
	    <meta content="telephone=no" name="format-detection">
	    <meta content="email=no" name="format-detection">
	    <meta content="" name="pgv">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../dist/css/select.css"/>
		<script>
	        var designWidth = 375,rem2px = 100;
	        document.documentElement.style.fontSize = ((window.innerWidth / designWidth) * rem2px) + 'px';
			console.log(window.innerWidth)
    	</script>
	</head>
	<body>
		<div id="app">
			<div class="click">点击</div>
		</div>
	</body>
	<script src="lib/vue2.0.js"></script>
	<script src="lib/bscroll.js"></script>
	<script>
		
		
	</script>
</html>
