<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<script src="../lib/forRemDpr.js"></script>
		<link rel="stylesheet" type="text/css" href="../dist/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../dist/css/motherDayq.css"/>
	</head>
	<body>
		<div class="motherDayq_module">
			<ul class="packageList">
				<li>
					<div class="pic"></div>
					<div class="text">
						<h4>银发母亲套餐</h4>
						<div>
							<span>&yen;&nbsp;998</span>
							<em>起</em>
							<del>&yen;&nbsp;1879</del>
						</div>
						<a>预约</a>
					</div>
				</li>
				<li>
					<div class="pic"></div>
					<div class="text">
						<h4>职场妈妈套餐</h4>
						<div>
							<span>&yen;&nbsp;365</span>
							<em>起</em>
							<del>&yen;&nbsp;573</del>
						</div>
						<a>预约</a>
					</div>
				</li>
				<li>
					<div class="pic"></div>
					<div class="text">
						<h4>全职妈妈套餐</h4>
						<div>
							<span>&yen;&nbsp;423</span>
							<em>起</em>
							<del>&yen;&nbsp;927</del>
						</div>
						<a>预约</a>
					</div>
				</li>
				<li>
					<div class="pic"></div>
					<div class="text">
						<h4>魅力妈妈套餐</h4>
						<div>
							<span>&yen;&nbsp;594</span>
							<em>起</em>
							<del>&yen;&nbsp;1100</del>
						</div>
						<a>预约</a>
					</div>
				</li>
			</ul>
		</div>
	</body>
</html>
