<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<script src="../lib/forRemDpr.js"></script>
		<link rel="stylesheet" type="text/css" href="../dist/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../dist/css/motherDayz.css"/>
	</head>
	<body>
		<div class="motherDayz_module">
			<ul>
				<li>
					<div class="pic"></div>
					<div class="text">
						<h4>银发母亲套餐</h4>
						<span><i>&yen;</i>998</span>
						<em>&yen;1879</em>
						<div class="clearfix"></div>
						<p>下单即送精美康乃馨一束</p>
						<a></a>
					</div>
				</li>
				<li>
					<div class="pic"></div>
					<div class="text">
						<h4>职场妈妈套餐</h4>
						<span><i>&yen;</i>365</span>
						<em>&yen;573</em>
						<div class="clearfix"></div>
						<a></a>
					</div>
				</li>
				<li>
					<div class="pic"></div>
					<div class="text">
						<h4>全职妈妈套餐</h4>
						<span><i>&yen;</i>423</span>
						<em>&yen;927</em>
						<div class="clearfix"></div>
						<a></a>
					</div>
				</li>
				<li>
					<div class="pic"></div>
					<div class="text">
						<h4>魅力妈妈套餐</h4>
						<span><i>&yen;</i>594</span>
						<em>&yen;1188</em>
						<div class="clearfix"></div>
						<a></a>
					</div>
				</li>
			</ul>
			<div class="mfooter">
				<span></span>
				<p>活动规则</p>
			</div>
			
			<div class="rulePopup" id="rulePopup">
				<div class="rulePopup_text">
					<h4>活动规则</h4>
					<div class="rulePopup_context">
						<p>1.&nbsp;活动时间5月10日-5月14日，数量不限。</p>
						<p>2.&nbsp;本次参加优惠的产品共4款母亲节特制套餐：</p>
						<p>&nbsp;【银发母亲套餐】、【魅力妈妈套餐】、【职场妈妈套餐】、</p>
						<p>&nbsp;【全职妈妈套餐】。</p>
						<p>3.&nbsp;5月10日-5月14日，4款套餐享5折优惠，数量不限。</p>
						<p>4.&nbsp;优惠以成功支付为准，有效支付时间25分钟，下单成功后可预约一年内的体检。</p>
						<p>5.&nbsp;不同城市不同机构价格有差异，如有疑问可致电袋鼠健康服务热线4001-0755-70。</p>
						<p>6.&nbsp;本活动最终解释权归袋鼠健康所有。</p>
					</div>
					<div class="rulePopup_tip">
						<p>温馨提示：5月预约父母关爱套餐（女），体检当天袋鼠健康平台送康乃馨一束、贺卡一份。（共10000名，先到先得）</p>
						<p>用户权益说明：优惠套餐享正价套餐同质体检服务。</p>
						<p>提供发票快递、体检报告快递等付费服务。</p>
						<p>用户可申请订单改期、订单取消。</p>
						<p>客服联系方式：袋鼠健康客服热线4001-0755-70。</p>
						<p>退款逻辑：订单取消后，已付款项将在7个工作日内原路退回支付账户。</p>
					</div>
				</div>
				<div>
					<span id="close"></span>
				</div>
			</div>
		</div>
	</body>
</html>
