<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AngularJS Form - 注册表单</title>
    <style>
        body {
            font: normal 16px/1.4 Georgia;
        }

        input:not([type='checkbox']), select {
            width: 250px;
        }

        select, input {
            padding: 5px;
            margin-top: 12px;
            font-family: inherit;
        }

        input[type='submit'] {
            width: 264px;
        }

        form span {
            color: red;
        }
    </style>
    <script src="js/angular.min.js"></script>
    <script>
        var myapp=angular.module("myapp",[])
		myapp.controller("myCtrl",function($scope){
			$scope.user={}
			
			$scope.hows=[
				{"enName":"school","zhName":"学校"},
				{"enName":"online","zhName":"网上"},
				{"enName":"friends","zhName":"朋友"},
				{"enName":"other","zhName":"其他"}
			]
		})

    </script>
</head>
<body ng-app="myapp" ng-controller="myCtrl">
<div>
    <form name="registerForm">

        <input type="text" placeholder="name" name="pname" ng-model="user.name" required>
        <span ng-show="registerForm.pname.$dirty&&registerForm.pname.$error.required">用户名不能为空</span>
        <br/>

        <input type="email" placeholder="Email" name="email" ng-model="user.email" required>
        <span ng-show="registerForm.email.$dirty">
            <span ng-show="registerForm.email.$error.required">邮箱不能为空</span>
            <span ng-show="registerForm.email.$error.email">邮箱格式错误</span>
        </span>
        <br/>
		<!--记得写ng-model -->
        <select name="channels" ng-options="how.enName as how.zhName for how in hows " ng-model="person.hows">
            <option value="">您从哪里知道的我们?</option>
        </select>
        <br/>

        <input type="checkbox" name="newsletterOptIn"
               id="newsletterOptIn" value="newsletterOptIn" ng-model="user.promised" />
        <label for="newsletterOptIn">接收时事通讯</label>
        <br/>

        <input type="submit" value="注册" ng-disabled="!user.promised">
    </form>

    <div>
        谢谢您花费宝贵时间注册!
    </div>
</div>
</body>
</html>