<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
	    <meta content="yes" name="apple-mobile-web-app-capable">
	    <meta content="black" name="apple-mobile-web-app-status-bar-style">
	    <meta content="telephone=no" name="format-detection">
	    <meta content="email=no" name="format-detection">
	    <meta content="" name="pgv">
		<title></title>
		<script>
			var designWidth = 375,rem2px = 100;
        	document.documentElement.style.fontSize = ((window.innerWidth / designWidth) * rem2px) + 'px';
		</script>
		<link rel="stylesheet" href="../resource/css/index.css">
	</head>
	<body>
		<div class="didi"></div>
		<div class="box">一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</div>
	</body>
</html>
