<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style type="text/css">
			*{margin:0;padding: 0;}
			li{
				list-style: none;
			}
		</style>
	</head>
	<body>
		<div>55555</div>
		<div id="app"></div>
	</body>
	<script src="js/regular.js"></script>
	<script type="text/template" id="tpl">
		<!--用de-click也可以-->
		<button de-click={total = total + 1}>total+1</button>
		<p>由于脏检查机制的性能极大的依赖于监听器的数量,所以没必要变动的数据只检查一次</p>
		<div>只脏检查一次{@(total)}</div>
		<div>脏检查无数次{total}</div>
		<input type="text" r-model={user.name} >
		<div>{user.name}</div>
		<ul>
			{#list productList as item}
  			<li>{item.name}</li>
			{/list}
		</ul>
	</script>
	<script>
		
		var app = new Regular({
			template : '#tpl',
			data: {
				total: 100, 
				current:3,
				user : {
					name : 'a',
					id : 'b'
				},
				productList : [
					{ name : 'vue' },
					{ name : 'angular'},
					{ name : 'regular'},
				]
			},
			config : function(data){
				console.log(data)
			},
			changeProductList : function(title){
				console.log(this);
			}
		});
		
		app.$inject('#app');
		
		
		// 在$watch中使用  @()
		var i = 0;
		var j = 0;
		app.$watch('user.name',function(){
			i++;
			console.log('i',i);
		});
		
		app.$watch("@(user.id)", function(){
			j++;
    		// 脏了一次就被取消暂检查了
    		console.log('j',j);
		});
		
		
		app.$update('user.name',1);
		app.$update('user.name',2);
		app.$update('user.id',1);
		app.$update('user.id',2);
		
		
	</script>
</html>
