@font-face {
  font-family: "w-page-icon";
  src: url('w-page-icon.eot?t=1568622476559'); /* IE9*/
  src: url('w-page-icon.eot?t=1568622476559#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("w-page-icon.woff2?t=1568622476559") format("woff2"),
  url("w-page-icon.woff?t=1568622476559") format("woff"),
  url('w-page-icon.ttf?t=1568622476559') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('w-page-icon.svg?t=1568622476559#w-page-icon') format('svg'); /* iOS 4.1- */
}

[class^="w-page-icon-"], [class*=" w-page-icon-"] {
  font-family: 'w-page-icon' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.w-page-icon-back-example:before { content: "\ea09"; }
.w-page-icon-option:before { content: "\ea0a"; }
.w-page-icon-start:before { content: "\ea0b"; }
.w-page-icon-top:before { content: "\ea0c"; }
