<h1></h1>
<p>用户名</p>
<input id="userName" name="userName" />
<p>密码</p>
<input id="password" name="password" type="password">
<button id="btn">sumbit</button>
<script src="/jquery.js"></script>
<script src="/utils.js"></script>
<script src="/axios.js"></script>
<script>

  var API_OK = 0

  var ajax = axios.create({
    validateStatus(status) {
      // 默认的status在200~300会Promise.resolve(res)
      // return status >= 200 && status < 300
      // 但是这个方法只是针对statusCode,不能对自定义的code做处理
      // 统一在instance.interceptors.response设置
      return true
    }
  })

  ajax.interceptors.response.use((response) => {
    if (response.status === 200) {
      return Promise.resolve(response)
    } else {
      // console.log(response)
      return Promise.reject(response)
    }
  })

  $('#btn').on('click', function () {
    var userName = $('#userName').val()
    var password = $('#password').val()
    ajax({
      url: '/api/login',
      method: 'POST',
      data: {
        userName: userName,
        password: password
      }
    }).then(function (res) {
      if (res.status === 200) {
        if (res.data.code === 1) {
          let token = res.data.token
          utils.setItem('token', token)
          window.setTimeout(function () {
            ajax({
              headers: {
                'Authorization': 'Bearer ' + token
              },
              url: '/api/userInfo',
              method: 'GET',
            }).then(function (res) {
              console.log(res)
            }).catch(function (res) {
              if (res.status === 401) {
                console.log('token失效')
              }
            })
          }, 5000)
        }
      }
    })
  })

</script>

