*{margin: 0;padding: 0}
ul{list-style: none}
/*<div class="mian">
    <ul class="way_list">
        <li>贷款计算器</li>
        <li>公积金贷款计算器</li>
        <li>提前还款计算器</li>
        <li>税费计算器</li>
        <li>装修贷款计算器</li>
        <li>购房能力评估计算器</li>
    </ul>
    <div class="content">
        <div class="choose"></div>
        <div class="result"></div>
    </div>
</div>*/
.counter{width: 712px;height: 636px;border: 1px solid #d6dfc2;margin: 0 auto;padding-top: 10px;}
.counter .title{width: 330px;height: 46px; background: #569221;margin: 0 auto;padding-top: 6px;padding-left: 3px;border-radius: 4px;}
.counter .title h3{width: 318px;height: 40px;border-radius: 5px;background: #e6f5d6;font-size: 26px;text-align: center;color: #007500;line-height: 40px;}
.counter .main{width: 678px;margin: 0 auto;overflow: hidden;padding-top: 13px}
.counter .main .way_list{height: 31px;}
.counter .main .way_list li{float:left;border: 1px solid #637c38;height: 32px; background: #5d8c30;color: #ffffff;
    text-align: center;line-height: 32px; margin-right: 2px;border-radius: 5px 5px 2px 2px;cursor: pointer;font-size: 12px;}
.counter .main .way_list li:nth-child(1){padding: 0 12px;background: #ffffff;color: #422b25;border-bottom: none}
.counter .main .way_list li:nth-child(2){padding: 0 20px;}
.counter .main .way_list li:nth-child(3){padding: 0 17px;}
.counter .main .way_list li:nth-child(4){padding: 0 11px;}
.counter .main .way_list li:nth-child(5){padding: 0 17px;}
.counter .main .way_list li:nth-child(6){padding: 0 5px;margin-right: 0}
.counter .main .content{border: 1px solid #637c38; border-top: none;height: 511px; }
.counter .main .content .choose{width: 350px;float: left;}
.counter .main .content .choose .please{height: 25px; padding-top: 26px; color: red; font-weight: bold;padding-left: 33px;}
.counter .main .content .choose .check{height: 39px;margin-left: 14px;padding-left: 19px;color: #422b25;border-bottom: 1px dashed #6d9384;font-size: 12px;line-height: 39px;}
.counter .main .content .choose .input{font-size:12px;margin-top: 2px; margin-left: 14px;border-top: 1px dashed #6d9384;border-bottom: 1px dashed #6d9384;}
.counter .main .content .choose .input .count_way{height: 35px; line-height: 35px; padding-left: 19px;}
.counter .main .content .choose .input .radio_area{line-height: 32px; padding-left: 54px;}
.counter .main .content .choose .input .radio_area .inner p{height: 29px; line-height: 29px; padding-left: 13px;}
.counter .main .content .choose select{color: red}
.counter .main .content .choose .input .radio_area .inner input{width: 77px;height: 19px;}
.counter .main .content .choose .input .radio_cound{line-height: 32px; padding-left: 54px;height: 32px;}
.counter .main .content .choose .input .year{padding-left: 19px; padding-top: 18px;}
.counter .main .content .choose .lixi{font-size:12px;margin-top: 2px; margin-left: 14px;border-top: 1px dashed #6d9384;border-bottom: 1px dashed #6d9384;height: 70px;}
.counter .main .content .choose .lixi p{line-height: 35px;height: 35px;padding-left: 19px}
.counter .main .content .choose .repayment{line-height: 40px;padding-left: 19px;font-size:12px;margin-top: 2px; margin-left: 14px;border-top: 1px dashed #6d9384;border-bottom: 1px dashed #6d9384;height: 40px;}
.counter .main .content .choose .btn{color: #ffffff;text-align: center;padding-top: 10px;line-height: 26px;margin-top: 2px; margin-left: 14px;border-top: 1px dashed #6d9384;height: 55px;}
.counter .main .content .choose .btn .btn1{background: #f2a928;width: 82px;height: 26px;border: 1px solid #f08b00;border-radius: 6px;}
.counter .main .content .choose .btn .btn2{background:#3aa696;margin-left: 21px;width: 82px;height: 26px;border: 1px solid #208494; border-radius: 6px;}
.counter .main .content .result{float:left;}
.counter .main .content .result .please{height: 25px; padding-top: 26px; color: red; font-weight: bold;padding-left: 51px;}
.counter .main .content .result li{text-align: right;width: 248px;height: 30px;line-height: 30px;font-size: 12px;}
.counter .main .content .result li input{width: 122px;height: 19px;}
.counter .main .content .result li .none{opacity: 0}







































