.box0 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  background: #008080;
  width: 200px;
  height: 200px;
  line-height: 200px;
}
.box0:hover {
  background: gold;
}
.box1 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  background: #008080;
  width: 200px;
  height: 200px;
  line-height: 200px;
}
.box1:hover {
  background: gold;
}
