@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0px;}
a{ text-decoration:none}
input,img{ border:none}
ul{ list-style:none}
.clear:after{ content:'200B'; font-size:0px; line-height:0px; display:block; clear:both;*zoom:1}

.banner{ background:#f2f2f2;}
.banner .banner_inner{ width:1210px; margin:0 auto;}
.banner .banner_inner .top { height:45px;}
.banner .top h3{ font:bolder 18px/42px '微软雅黑'; color:#666666; padding-bottom:3px; float:left;}
.banner .top ul{ float:left;}
.banner .top li{ float:left; }
.banner .top li span{ padding:0 13px; font-family:consolas;}
.banner .top li a{ color:#666666; font:normal 14px/45px '微软雅黑';}
.banner .top li a:hover{ color:red}
.banner .mid{ height:551px; background:#fff; border-bottom:1px solid #f2f2f2}
.banner .mid .left{ float:left; width:378px; position:relative}
.banner .mid .left .pic{margin:20px 13px 20px 13px; text-align:center; height:350px; width:350px; position:relative; border:1px solid #fff}
.banner .mid .left .pic .move{ width:140px; height:140px; background:yellow; opacity:0.4; position:absolute;top:0px; left:0px; display:none}
.banner .mid .left .bigPic{ position:relative;width:420px; height:420px; position:absolute; top:0px; left:378px;  z-index:3; overflow:hidden; display:none}
.banner .mid .left .bigPic img{ position:absolute; top:0px; left:0px;}
.banner .mid .left .list{ height:54px; position:relative; padding-left:36px; width:302px;  padding-right:26px; }
.banner .mid .left .list #list{ width:312px; height:54px; overflow:hidden;position:relative;}
.banner .mid .left .list #list ul{height:54px; position:absolute; width:590px; top:0; left:0}
.banner .mid .left .list .z{ width:14px; height:23px; position:absolute; left:14px; top:16px; font:35px/23px 'consolas';}
.banner .mid .left .list .y{ width:14px; height:23px;position:absolute; right:6px; top:16px;font:35px/23px 'consolas';}
.banner .mid .left .list a{ color:#666}
.banner .mid .left .list a:hover{ color:red}
.banner .mid .left li{ float:left; border:2px solid #fff; margin-right:10px; width:50px; height:50px; text-align:center;}
.banner .mid .left .first{border:2px solid #e4393c;}
.banner .mid .right{ float:right}
.banner .mid .left .one{ font:normal 12px/66px '宋体'; color:#666666; float:left; width:187px;padding-left:34px;}
.banner .mid .left .two{ padding-left:16px; width:24px; float:left;font:normal 12px/66px '宋体'; background:url(../images/ico.png) no-repeat 0px -173px;}
.banner .mid .left .two a{ color:#666666;}
.banner .mid .left .three{ padding-left:28px; float:left;font:normal 12px/66px '宋体';background:url(../images/ico.png) no-repeat -30px -173px;}
.banner .mid .left .three a{ color:#666666;}
.banner .mid .left p a:hover{ color:red}

.banner .mid .zhong{ float:left; width:587px;}
.banner .mid .zhong h2{ height:73px; font:bold 16px/24px '微软雅黑'; padding:14px 84px 0 0; }
.banner .mid .zhong h2 a{ color:#666;}
.banner .mid .zhong .price{ height:51px; background:#f7f7f7;}
.banner .mid .zhong .price .z{ float:left; font:12px/51px '宋体'; padding-left:12px;}
.banner .mid .zhong .price .z a{ color:#666}
.banner .mid .zhong .price .z span{ font:bold 16px/51px '宋体'; color:#e4393c}
.banner .mid .zhong .price .y{ float:right; width:68px; height:36px; border-left:1px solid #e6e6e6; margin-top:10px;font:12px/18px '宋体'; text-align:center}
.banner .mid .zhong .price .y a{ color:#999999}
.banner .mid .zhong .price .y span{ color:#005ea7}
.banner .mid .zhong .address{ padding-left:12px;height:29px; margin-top:14px;}
.banner .mid .zhong .address .one{  font:12px/29px '宋体'; color:#666666; float:left;}
.banner .mid .zhong .address .two{font:12px/23px '宋体'; color:#666666;float:left; width:120px; height:23px; margin-top:3px; border:1px solid #cecbce;background:url(../images/bj_03.jpg) no-repeat 108px 10px; padding-left:4px;}
.banner .mid .zhong .address .three{  font:14px/29px '微软雅黑'; color:#666666; float:left; margin-left:6px;}
.banner .mid .zhong .address .xin{  font:12px/29px '微软雅黑'; color:#666666; float:left; margin-right:5px;}
.banner .mid .zhong .address .four{  font:12px/29px '宋体'; color:#666666; float:left;}
.banner .mid .zhong .address .five{ float:left; width:1px; height:11px; margin:9px 7px 0px 7px; background:#9b669b;}
.banner .mid .zhong .address .six{  font:12px/29px '宋体'; color:#666666; float:left;}
.banner .mid .zhong .address a{ color:#666}
.banner .mid .zhong .address a:hover{ color:red}
.banner .mid .zhong .service{ height:40px; border-bottom:1px dashed #dddddd; font:12px/40px '宋体'; color:#666666; padding-left:12px}
.banner .mid .zhong .color{ padding-top:17px; padding-left:13px;}
.banner .mid .zhong .color .text{ float:left; font:12px/34px '宋体'; width:72px; height:34px; color:#666666}
.banner .mid .zhong .color ul{ float:left;width:500px;}
.banner .mid .zhong .color ul li{ float:left; margin-right:8px; margin-bottom:4px;}
.banner .mid .zhong .color ul li a{ display:block; height:29px; font:12px/29px '宋体'; padding:0 5px 0 30px; color:#666;  border:1px solid #cccccc}
.banner .mid .zhong .color ul li .color_choice{ border:2px solid red;height:27px; font:12px/27px '宋体'; padding:0 4px 0 29px; color:red}
.banner .mid .zhong .keep{ padding-top:8px; position:relative;padding-left:13px;}
.banner .mid .zhong .keep .text{ float:left; font:12px/30px '宋体'; width:72px; height:30px; color:#666666}
.banner .mid .zhong .keep ul{ float:left;width:500px;}
.banner .mid .zhong .keep ul li{ float:left;}
.banner .mid .zhong .keep ul li span{ padding:0 6px;}
.banner .mid .zhong .keep ul li a{ display:block; height:28px; font:12px/28px '宋体'; padding:0 20px 0 26px; color:#666;  border:1px solid #cccccc}
.banner .mid .zhong .keep:before{ content:''; width:16px; height:16px; background:url(../images/bj2_03.jpg) no-repeat; position:absolute; top:14px; left:223px;}
.banner .mid .zhong .mon{ padding-top:14px;position:relative;padding-left:13px;}
.banner .mid .zhong .mon .text{ float:left; font:12px/28px '宋体'; width:72px; height:28px; color:#666666}
.banner .mid .zhong .mon ul{ float:left;width:500px;}
.banner .mid .zhong .mon ul li{ float:left;margin-right:8px;}
.banner .mid .zhong .mon ul li a{ display:block; height:28px; font:12px/26px '宋体'; padding:0 7px; color:#666;  border:1px solid #cccccc}
.banner .mid .zhong .mon ul li .baitiao{ border:2px solid red;height:26px; font:12px/24px '宋体';padding:0 6px;}
.banner .mid .zhong .mon:before{ content:''; width:35px; height:17px; background:url(../images/bj2_07.jpg) no-repeat; position:absolute; top:19px; left:503px;}
.banner .mid .zhong .shop{ padding:25px 0 0 10px;}
.banner .mid .zhong .num{ float:left; text-align:center; width:33px; height:34px; border:1px solid #cccccc; font:14px/34px '宋体'; color:#000000}
.banner .mid .zhong .opt{ float:left; width:15px; height:34px; border:1px solid #cccccc; border-left:none; background:#f1f1f1}
.banner .mid .zhong .opt .add{ border-bottom:1px solid #cccccc; text-align:center;font:12px/17px '宋体'; color:#000000; height:17p}
.banner .mid .zhong .opt .add a{color:#000000; display:block; width:15px; height:17px;}
.banner .mid .zhong .opt .re{text-align:center;font:12px/16px '宋体'; color:#000000; height:16px;}
.banner .mid .zhong .opt .re a{color:#000000; display:block; width:15px; height:16px;}
.banner .mid .zhong .cart{ margin:0 10px; width:89px; height:36px; background:#e03336; border-radius:3px; color:#fff; padding:0 10px 0 36px; float:left; font:bolder 14px/36px '微软雅黑';}
.banner .mid .zhong .only{ width:73px; height:36px; background:#7abb55; border-radius:3px; color:#fff;font:bolder 14px/36px '微软雅黑'; text-align:center; float:left; }
.banner .mid .zhong .last .title{float:left; padding-left:12px; font:12px/62px '宋体'; color:#666; width:63px;}
.banner .mid .zhong .last ol{float:left;}
.banner .mid .zhong .last ol li{float:left;font:12px/62px '宋体'; color:#666; margin:0 18px;}
.banner .mid .zhong .shou{ width:160px; height:26px; border:1px solid #dedfde; padding-left:10px;font:12px/26px '宋体'; margin-top:5px;}
.banner .mid .zhong .shou a{ padding-right:14px; color:#005aa0}
.banner .mid .zhong .shou span{ padding-right:4px; color:#e4393c}
.wrap{width:1210px; margin:0 auto;}
.wrap .select{height:266px;border-left:1px solid #ddd;border-right:1px solid #ddd;;border-bottom:1px solid #ddd;margin-top:10px;}


.wrap .select .title{background-color:#f7f7f7;height:29px;border-bottom:1px solid #ddd;border-top:2px solid #999;}
.wrap .select .title  li {float:left;border-top:2px solid red;margin-top:-2px;}
.wrap .select .title  li a{padding:0px 13px 0px 11px;font-family:"宋体";font-size:16px;line-height:29px;font-weight:bolder;color:#666;height:29px;border-left:1px solid #f7f7f7;border-right:1px solid #f7f7f7; display:block; background:#FFF}
.wrap .select .title  .ac{border-top-color:#e4393c;margin-top:-6px;}
.wrap .select .title  .ac a{z-index:2;line-height:37px;border-top-color:#e4393c;border-left:1px solid #ddd;border-right:1px solid #ddd;background-color:#fff;height:34px;}


.wrap .select .pic_list{height:210px;margin-top:24px;}
.wrap .select .pic_list ul li{float:left;width:140px;height:210px;margin-right:66px;text-align:center;}
.wrap .select .pic_list .far_left{margin-left:29px;}
.wrap .select .pic_list .far_right{margin-right:0px;}
.wrap .select .pic_list ul li p{line-height:18px;margin-top:4px;font-family:"微软雅黑";font-size:12px;color:#666;}
.wrap .select .pic_list ul li .money{margin-top:0px;color:#e4393c;font-family:arial;font-weight:bolder;}
.wrap .select .pic_list .none{ display:none}