*{margin: 0;padding:0}
.a{width:400px;height: 200px;margin:100px auto;background: peru;}
.b{float: left;border: 1px solid darkblue;}
.banner{float:right;position: absolute;top:100px;}
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
