@font-face {
  font-family: "w-upload-icon";
  src: url('w-upload-icon.eot?t=1568622476430'); /* IE9*/
  src: url('w-upload-icon.eot?t=1568622476430#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("w-upload-icon.woff2?t=1568622476430") format("woff2"),
  url("w-upload-icon.woff?t=1568622476430") format("woff"),
  url('w-upload-icon.ttf?t=1568622476430') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('w-upload-icon.svg?t=1568622476430#w-upload-icon') format('svg'); /* iOS 4.1- */
}

[class^="w-upload-icon-"], [class*=" w-upload-icon-"] {
  font-family: 'w-upload-icon' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.w-upload-icon-close:before { content: "\ea08"; }
