<ion-view view-title="浏览商品">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-home" ui-sref="home"></button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <ion-item class="item-avatar" ng-repeat="product in data.productList">
                <img ng-src="{{product.imgsrc}}"/>
                <h2>{{product.title}}</h2>
                <p>{{product.desc}}</p>
                <!--<a href="#/tabs/detail?{{product.title}}">详情</a>-->
                <button 
                	ng-click="come()"
                	>点击</button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>