@charset "utf-8";
/* CSS Document */


/*幻灯片*/
.slide { width: 400px; height: 260px; overflow: hidden; position: relative; margin: 150px auto 0; background: #ccc; }

.slide ol { position: absolute;right: 20px; bottom: 20px; z-index: 2; }
.slide ol li { float: left; margin-right: 3px; display: inline; cursor: pointer; background: #fcf2cf; border: 1px solid #f47500; color: #d94b01; font-family: arial; font-size: 12px; height:20px; width:20px }
.slide .ac { padding: 3px 8px; font-weight: bold; color: #ffffff; background: #ffb442; position: relative; bottom: 2px; }

.slide ul { position: absolute; top: 0; left: 0; z-index: 1; }
.slide ul li { width: 400px; height: 260px; float: left; }
.slide ul img {width: 400px; height: 260px; }

.slide .moveBtn { width: 40px; height:40px; line-height:35px; font-size:30px;color: #fff; text-align: center;background: #333; opacity:.4; position: absolute; top: 50%; margin-top:-20px; z-index: 2; }
.slide .prev { left: 10px; }
.slide .next { right: 10px; }

/*选项卡*/
.tab{}

