<ion-view view-title="欢迎光临火星度假村" id="tour-view" >
    <!--ion-content标签会限制子元素的高度 无法全屏或者增加高度 自带scroll-content has-header ion-scroll-content-->
    <!--<ion-content>-->
    <ion-slide-box>
        <ion-slide>
            <!--slide-icon是自定义className-->
            <i class="icon ion-document-text slide-icon calm"></i>
            <h3>我的预订</h3>
        </ion-slide>
        <ion-slide>
            <i class="icon ion-ios-sunny slide-icon balanced"></i>
            <h3>天气预报</h3>
        </ion-slide>
        <ion-slide>
            <i class="icon ion-fork slide-icon assertive"></i>
            <h3>附近餐馆</h3>
        </ion-slide>
    </ion-slide-box>

   <!-- </ion-content>-->

</ion-view>