<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			ul{list-style: none;}
		</style>
	</head>
	<body>
		<div id="app"></div>
	</body>
	<script type="text/template" id="tpl">
		<ul>
			<% for(var i=0;i<data.length;i++){ %>
			<li><%=data[i]%></li>
			<% } %>
		</ul>
	</script>
	<script type="text/javascript" src="js/underscore.js"></script>
	<script>
		var data = [
			"永恒怀念胡耀邦的省部级老人走了 五常委哀悼",
			"朴槿惠私宅开始修缮 私宅外布满媒体和警察", 
			"中使馆交涉德企辱华T恤：勿以自由之名侮辱他人",
			"长征七号运抵发射场 天舟一号4月中下旬将升空", 
			"台湾“党产会”胜诉 国民党财产冻结将寻求救济", 
			"大马外长：将正式对话朝鲜 无意扣留金正男尸体", 
			"政协委员周涛：性教育课本“尺度”该由科学说了算", 
			"科学家推算日本人将在3766年8月16日灭绝"
		];
		
		var tpl = _.template(document.getElementById('tpl').innerHTML);
		// 格式化数据
		var html = tpl(data);
		// 将字符串渲染到页面中
		document.getElementById('app').innerHTML = html;
		
	</script>
</html>
