<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			*{margin: 0;padding: 0;}
			ul{list-style: none;margin-left: 142px;border :2px solid #00BBFF;width:200px;
			padding-left: 10px;padding-right: 10px;}
			li{line-height: 25px;height: 25px;}
			#app{
				width:800px;height: 500px;margin:100px auto;
				boorder : 1px solid #ccc;
				box-shadow: 2px 4px #ccc;
				font-size: 16px;
			}
			label{
				margin-left : 80px;
			}
			input{padding: 8px 10px;margin-left:10px;
				width:200px;
			}	
		</style>
	</head>
	<body>
		<div id="app">
			<label for="login">账户名
				<input id="login" v-model="msg" type="text" placeholder="请输入邮箱地址">
			</label>
			<ul v-if='msg'>
				<li v-for="item in mail">{{dealMsg}}@{{item}}</li>
			</ul>
		</div>
	</body>
	<script src="js/vue.js"></script>
	<script type="text/javascript">
		//视图上的数据msg改变->model上的数据改变->触发computed对象的函数运行
		var app = new Vue({
			el : '#app',
			data : {
				msg : '',
				mail : ['qq.com','163.com','126.com','189.cn','sina.com','hotmail.com','gmail.com','sohu.com']
			},
			//动态绑定数据
			computed : {
				dealMsg : function(v){
					//处理msg,截取@前面的字符串
					return this.msg.indexOf('@') === -1 ? this.msg : this.msg.slice(0,this.msg.indexOf('@'));
				}
			}
		})
	</script>
</html>
