<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/vue2.0.js"></script>
	</head>

	<body>
		<div id="test">
			<ul>
				<li v-for="(value,key) in message" v-text="value.text"></li>
			</ul>
			<select v-model="selected">
				<option v-for="yx in YX" :value="yx.text" v-text="yx.text"></option>
			</select>
			<select>
				<option v-for="(zy,index) in selection" :value="zy.text"
					v-text="zy.text">
				</option>
			</select>
		</div>
	</body>
	<script>
		new Vue({
			el: '#test',
			data: {
				selected: '计信院',
				subSelected : '',
				YX: [
						{
							text: '计信院',
							ZY: [
									{text: '软件工程'}, 
									{text: '计算机科学与技术'}, 
									{text: "信息安全"}, 
								]
						}, 
						{
							text: '商学院',
							ZY: [
									{text: '旅游管理'}, 
									{text: '工商管理'}, 
									{text: "行政管理"}, 
								]
						},
				],
				message : {
					a : {text:'a'},
					b : {text:'b'},
					c : {text:'c'}
				}
			},
			computed: {
				selection: {
					get: function() {
						var vm = this;
						return this.YX.filter(function(item) {
							return item.text === vm.selected;
						})[0].ZY;
					}
				}
			},
			methods: {
				changeNowIndex : function(index){
					var vm = this;
					console.log(index)
					vm.nowIndex = index;
				},
				dd : function(){
					alert(1)
				}
			}
		});
	</script>
	<script>
		var a = '100';
		// 使用typeof的时候,如果有其他运算符,记得加括号,以为typeof是个函数,相当于一元运算符,优先级很高
		console.log(typeof (a/100) );
		
	</script>

</html>