<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="box">
			<input v-model="msg" />
			<p>{{msg}}</p>
			<div v-on:click="change()"
				style="width:50px;height: 50px;background: peru;text-align: center;line-height: 50px;"></div>
			<input v-model="obj.name" />
			<p>{{obj.name}}</p>
		</div>
	</body>
	<script src="js/vue2.0.js"></script>
	<script>
		
		 var app = new Vue({
		 	el : '#box',
		 	data : {
		 		obj : {
		 			
		 		},
		 		msg : 'aaa',
		 		num : 0,
		 	},
		 	mounted : {
		 		change : function(){
		 			var vm = this;
		 			vm.num++;
		 		}
		 	},
//		 	watch : {
//		 		num : {
//		 			handler : function(nowVal,oldVal){
//		 				console.log(nowVal,oldVal)
//		 			},
//		 			deep : true
//		 		}
//		 	}
		});
		
		app.$watch('obj',function(val){
			
		})
	</script>
</html>
