<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style type="text/css">
			*{
				margin:0;padding: 0;
			}
			.box{
				width:200px;height: 200px;
				background: chartreuse;
			}
			ul{
				padding-top:50px;
			}
			li{
				list-style: none;width:200px;height: 50px;
				background:peru;line-height: 50px;
				text-align: center;
			}
			.select{
				width:200px;
				background:lightblue;height: 50px;
			}
			[v-cloak] {
			    display: none;
			}
		</style>
	</head>
	<body>
		<div id="app" v-cloak>
			<div class="box"></div>
			<div class="select" v-clickoutside="handleClose" @click="toggleMenu">
				<ul v-if="visible">
					<li v-for="item in list">{{item}}</li>
				</ul>
			</div>
		</div>
	</body>
	<script src="js/vue2.0.js"></script>
	<script>
		new Vue({
			el : '#app',
			data : {
				visible : false,
				list : [1,2,3,4,5,6]
			},
			mounted : function(){
				var vm = this;
			},
			methods : {
				toggleMenu : function() {
					console.log('toggle');
					var vm = this;
	                vm.visible = !this.visible;
	            },
	            hideMenu : function() {
	            	var vm = this;
	                vm.visible = false;
	            },
	            handleClose : function(){
	            	var vm = this;
	            	
	            	vm.hideMenu();
	            }
			},
			directives : {
				clickoutside : {
					bind : function(el, binding, vnode) {
						// 只调用一次,指令第一次绑定到元素时调用.在这里可以进行一次性的初始化设置
						console.log('binding',binding);
						el.__vueClickOutside__ = documentHandler;
				        document.addEventListener('click', documentHandler);
				        function documentHandler (e) {
				        	console.log('document.addEventListener')
				        	// 如果directives包含了点击事件源
				            if (el.contains(e.target)) {
				            	console.log('el.contains(e.target)',el.contains(e.target));
				            	// 不会运行下面的函数了
				                return false;
				            }
				            // expression是directives指令绑定的字符串指令
				            if (binding.expression) {
				            	console.log('binding.expression',binding.expression);
				            	console.log('binding.value',binding.value);
				            	// binding.value是指令'='后面的值,如果是函数,那么可以拿到data里面的函数
				                binding.value(e);
				            }
				        }
				    },
				    unbind : function(el, binding) {
				    	// 只调用一次，指令与元素解绑时调用。
				        document.removeEventListener('click', el.__vueClickOutside__);
				        delete el.__vueClickOutside__;
				    }
				}
			}
		})
	</script>
</html>