<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="app">
	        <div v-for="aa in aas">{{aa}}</div>
	        <div v-for="item in list">{{item.name}}</div>
	        <div>{{text}}</div>
	        <div>{{obj.obj.name}}</div>
	        <button @click="change">变数据 </button>
    	</div>
	</body>
	<script src="js/vue2.0.js"></script>
	<script>
		new Vue({
            el:"#app",
            data:{
                aas: ["aaa","bbb","ccc","ddd"],
                list: [
                	{name: 1},
                	{name: 2},
                ],
                text: 0,
                obj: {
                	obj: {
                		name: 'name'
                	}
                }
            },
            mounted: function() {
            	var arr = [];
            	// http://www.bslxx.com/a/vue/2017/1111/1425.html
            	// vue对data上的数组的各别方法做了变异处理
            	// 分别是push,pop,shift,unshift,splice,reverse
                 console.log('变异',Array.prototype.push === this.list.push);
                 console.log(this.list.push === this.aas.push);
                 console.log(this.list.concat === this.aas.concat);
                 var aas = this.aas;
                 this.aas.push('eee');
                 console.log('用过push方法后的指针',this.aas === aas);
            },
            methods:{
                change(){
                	//this.text = 1;
                	//this.obj.obj.name = '666';
                	
                	// 这种数组是可以触发视图更新的
                	//this.list[0].name = 3;
                	
                	// 这种数组操作是不可以触发视图更新的
//              	this.list[0] = {
//              		name: 3
//              	}
                	
                	
                	// 这种数组操作可以
                	//this.list.splice(0, 1, {name: 3});
                	
                	
                	// this.ass[3]是个基本数据类型了,没有递归下去了,这种数组是不会触发视图更新的
                	// 本来通过索引操作数组的元素是不会发生view层变动(也就是updated);
                	// 但是如果这时候如果有触发视图更新的行为,会触发整个组件的数据重新绑定
                	// 组件还有一个作用,就是更新隔离
                	
                	// 无效
                    //this.aas[3] = 444;
                    //this.aas.length = 0;
                    
                    // 有效
                    //var splice = 444;
                    //this.aas.splice(3, 1, splice);
                }
            },
            beforeUpdate: function () {
				console.log('beforeUpdate');
			},
            updated: function() {
            	console.log(this.aas);
            }
        })
	</script>
</html>
