<ion-view view-title="我的购物车">
    <ion-content>
        <div class="row row-center light-bg">
            <div class="col col-10">#</div>
            <div class="col">商品名称</div>
            <div class="col col-20">数量</div>
            <div class="col col-20">小计</div>
        </div>
        <div class="row row-center" ng-repeat="item in cartData">
            <div class="col col-10">{{$index+1}}</div>
            <div class="col">{{item.product.title}}</div>
            <div class="col col-20">{{item.count}}</div>
            <div class="col col-20">{{item.product.price * item.count | currency:"￥"}}</div>
        </div>
        <div class="row row-center">
            <div class="col col-10">#</div>
            <div class="col">合计:</div>
            <div class="col col-20">{{itemCount()}}件</div>
            <div class="col col-20">{{total() | currency:"￥"}}</div>
        </div>
    </ion-content>
</ion-view>