<!DOCTYPE html>
<html>
	<head id='head'>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/angular.js"></script>
		<script>
			angular.module("myapp",[])
			angular.module("myapp").controller("myCtrl",function($scope){
				a = $scope.data = 12;
				$scope.showData = function(){
					console.log($scope.data)   // 12
				}
			});
			
		</script>
	</head>
	<!--view改变数据会影响module,module改变数据也会影响view-->
	<body ng-app="myapp" ng-controller="myCtrl">
		<input type="text" ng-model="data"  value="">
		<br>
		<div id='div' ng-click="showData()">{{data}}</div>
		<br>
		<input type="text" ng-model="data"  value="">
	</body>
	<script>
		var div = document.getElementById('div');
		// 改变视图层无法改变数据层
		document.getElementById('div').innerHTML = 20;
	</script>
</html>
