<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/angular.js"></script>
		<script>
			angular.module("myapp",[])
			angular.module("myapp").controller("myCtrl",function($scope){
				$scope.data=12;
				console.log($scope)			//Scope
			})
			
			angular.module("myapp").controller("sonCtrl",function($scope){
				$scope.data=13;
				console.log($scope)			//ChildScope
				console.log(this)
			})
			
			
		</script>
	</head>
	<!--view改变数据会影响module,module改变数据也会影响view-->
	<body ng-app="myapp" ng-controller="myCtrl">
		<input type="text" ng-model="data"  value="">
		<br>
		<div ng-bind="data"></div>
		<br>
		<div ng-controller="sonCtrl">
			<input type="text" ng-model="data"  value="">
		</div>
	</body>
</html>
 