<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/angular.js"></script>
		<script>
			
			//$watch是监视这个值变化时,执行回调函数,功能比$apply多
			//$apply是异步操作时,'同步'更新这个值,无法再做其他功能
			angular.module("myapp",[])
			angular.module("myapp").controller("myCtrl",function($scope){
				$scope.name=12;
				
				$scope.data = {
					name : "李四",
					count : 20
				}
				
				$scope.count=0;
				
				//监听一个model 当一个model每次改变时,都会执行$watch的回调函数
				/*$scope.$watch("name",function(newValue,oldValue){
					//console.log(newValue,oldValue)
					
					$scope.count++;
					console.log($scope.count)
					if($scope.count>3){
						$scope.name="已经执行$watch的回调函数3次了"
					}
				})*/
				
				//监听一个对象的所有属性需要加上第三个参数true  当任一属性变化时都会执行这个回调函数
				$scope.$watch("data",function(newValue,oldValue){
					console.log(newValue,oldValue)
					
				},true)     //不加上true是监听data的引用值  只会在初始化的时候执行这个函数一次
			})
				
				
		</script>
	</head>
	<!--view改变数据会影响module,module改变数据也会影响view-->
	<body ng-app="myapp" ng-controller="myCtrl">
		<input type="text" ng-model="name"  value="">
		<br>
		<div ng-bind="count"></div>
		<br>
		<input type="text" ng-model="data.name"  value="">
		
	</body>
	<script>
		//在$digest执行时,如果watch观察的value与上次执行时不一样时,就会触发
		
		//angular内部的watch实现了页面随model的及时更新
		
		
		
		
		
		
		
	</script>
</html>
 