<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			ul{list-style: none;}
		</style>
		<script src="js/angular.js"></script>
		<script>
		
			//自定义过滤器有两种写法 
			//一种是:
			/*angular.module("myApp",[]).filter("filterName",function(){
				return function(){		//业务函数部分 是myApp模板下的过滤器
					return []
				}
			})*/
			
			//另一种写法:
			angular.module("myApp",[],function($filterProvider,$provide,$controllerProvider){
				
				$provide.service("Data",function(){
					return [
						{
							name : "张三",
							age : "20",
							city : "深圳"
						},
						{
							name : "李四",
							age : "25",
							city : "深圳"
						},
						{
							name : "王五",
							age : "21",
							city : "上海"
						}
					]
				})
				
				
				//注册一个过滤器
				$filterProvider.register("filterAge",function(){
					return function(dataList){
						var arr=[];
						angular.forEach(dataList,function(item,index){
							//console.log(item)
							//console.log(index)
							if(item.age>20) arr.push(item)
						})
						return arr
					}
				})
				
				$controllerProvider.register("myCtrl",function($scope,Data){
						$scope.data = Data
				})
			})
			
			.filter("filterCity",function(){
				return function(dataList,a,b){
					console.log(dataList)
					console.log(a,b);
					var arr=[];
					angular.forEach(dataList,function(item,index){
						console.log(item)
					    console.log(index)
						if(item.city === "深圳") arr.push(item)
					})
					return arr
				}
			})
			
			
		</script>
	</head>
	<body ng-app="myApp">
		<div ng-controller="myCtrl">
			<ul>
				<!--先过滤data再person in data-->
				<li ng-repeat="person in data |filterAge">
					{{person.name}},
					{{person.age}},
					{{person.city}}
				</li>
			</ul>
			<br>
			<br>
			<ul>
				<!--先过滤data再person in data-->
				<li ng-repeat="person in data |filterCity: 1 : 2">
					{{person.name}},
					{{person.age}},
					{{person.city}}
				</li>
			</ul>
		</div>
	</body>
</html>
