<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			ul{list-style: none;}
			.red{background: red;color: white;}
		</style>
		<script src="js//angular.js"></script>
		<script>
			angular.module("myApp",[])
			
			
		</script>
	</head>
	<body ng-app="myApp">
		<div>{{1+1}}</div>
		<div ng-bind="1+1"></div>
		<div ng-bind-template="{{1+1}}"></div>
		
		<!--ng-bind默认会把所有的子元素冲掉-->
		<!--相当于$scope.cityList=['上海','北京','深圳']-->
		<!--<ul ng-init="cityList=['上海','北京','深圳']">
			<li ng-repeat="city in cityList" ng-bind="city">   
				<div ng-bind="$index">{{$index}}</div>
			</li>
		</ul>-->
		
		<ul ng-init="cityList=['上海','北京','深圳']">
			<li ng-repeat="city in cityList" style="margin-bottom: 30px;">   
				<!--{ : }用法是:后面的语句判断为真(非0,非false,非"",非null)就返回red为真-->
				<div ng-class="{red : $index==0}">$index:{{$index}}</div>
				<div ng-class="{red : $first}">$first:{{$first}}</div>
				<div>$middle:{{$middle}}</div>
				<div>$last:{{$last}}</div>
			</li>
		</ul>
		
		<!--include.html是字符串 要加单引号-->
		<div ng-include=" 'include.html' "></div>
		<div ng-include src=" 'include.html' "></div>
	</body>
</html>
