<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/angular.js"></script>
		<style>
			.red{background: red;color: white;font-size: 26px;}
			.peru{background: peru;color: white;font-size: 26px;}
			
		</style>
		<script>
			//内置事件指令的好处是:自动的运行脏检查
			
			angular.module("myApp",[])
			
			.controller("myCtrl",function($scope){
				$scope.status = false;
				
				$scope.num = 0;
				
				$scope.a=true
				
				$scope.changeStatus = function(event){
					console.log(this === $scope)     //true
					console.log(event.target)
					angular.element(event.target).html("切换成" + $scope.status)
					$scope.status = !$scope.status;
					var a=1;
					$scope.num++
				}
			})
			
		</script>
	</head>
	<body ng-app="myApp">
		<div ng-controller="myCtrl">
			<button ng-click="changeStatus($event)">切换状态</button>
			<p>{{status}}</p>
			<p ng-class="{red : status}">11111</p>
			<br>
			<ul ng-switch on="status">
				<li ng-switch-when="true" class="peru">
					true
				</li>
				<li ng-switch-when="false" class="peru">
					false
				</li>
			</ul>
			
			
			
			<ul>
				<li ng-if="num%3-2==0" class="peru">
					3的倍数+1
				</li>
				<li ng-if="num%3-1==0" class="peru">
					3的倍数-1
				</li>
				<li ng-if="num%3==0" class="peru">
					3的倍数
				</li>
			</ul>
		</div>
		
		
	</body>
</html>
