<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<script src="js/angular.js"></script>
		<script>
			angular.module('myApp',[],[function(){
				
			}])
			
			.controller("myCtrl",['$scope',function($scope){
				
			}])
			
		</script>
	</head>
	<body ng-app="myApp">
		<div ng-controller="myCtrl" style="margin-top:50px">
			<!--has-error 边框红圈-->
			<form class="form-horizontal" name="myForm">   
				 <div class="form-group container-fluid" 
				 	ng-class="{'has-error' :myForm.userName.$invalid && myForm.userName.$dirty}" >
    				<label class="control-label">用户名</label>
   				    <div>
   				    	<!--autocomplete='off'的意思是关闭记录,防止浏览器缓存-->
     					 <input type="text" autocomplete="off" name="userName" class="form-control" placeholder="Email"
     					 	ng-model='data.userName' ng-required="true" ng-minlength=5 ng-maxlength=10
     					 	ng-pattern='/^[a-z]/i' >   <!--或者ng-pattern='/^[a-z]{1,}/i'-->
     					 <div class="alert alert-danger">
     					 	userName.$error有错误的属性值显示的真{{myForm.userName.$error}}
     					 	<br>
     					 	myForm.$error有错误的属性值显示的真{{myForm.$error}}
     					 </div>
     					 <div class="alert alert-danger" ng-show='myForm.userName.$error.maxlength'>
     					 	用户名长度不能超过10位
     					 </div>
     					 <div class="alert alert-danger" ng-show='myForm.userName.$error.minlength'>
     					 	用户名长度不能低于5位
     					 </div>
     					 <div class="alert alert-danger" ng-show='myForm.userName.$error.pattern'>
     					 	用户名必须字母开头
     					 </div>
    				</div>
  				</div>
  				
  				<div class="form-group container-fluid"
  					ng-class="{'has-error' :myForm.passWord.$invalid && myForm.passWord.$dirty}" >
    				<label class="control-label">密码</label>
   				    	<!--autocomplete='off'的意思是关闭记录,防止浏览器缓存-->
     					 <input type="password" autocomplete="off" name="passWord" class="form-control" 
     					 	placeholder="密码"  ng-minlength=5 ng-maxlength=10
     					 	ng-model='data.passWord' ng-required="true" 
     					 	> 
     					 <div class="alert alert-danger" ng-show='myForm.passWord.$error.minlength'>
     					 	密码的长度不得小于5位
     					 </div>
     					 <div class="alert alert-danger" ng-show='myForm.passWord.$error.maxlength'>
     					 	密码的长度不得超过10位
     					 </div>
  				</div>
  				
  				<div class="form-group container-fluid"
  					ng-class="{'has-error' :myForm.passWordConfirm.$invalid && myForm.passWordConfirm.$dirty}" >
    				<label class="control-label">确认密码</label>
   				    	<!--autocomplete='off'的意思是关闭记录,防止浏览器缓存-->
     					 <input type="password" autocomplete="off" name="passWordConfirm" class="form-control" 
     					 	placeholder="确认密码" ng-model='data.passWordConfirm'> 
     					 <div class="alert alert-danger" 
     					 	ng-show='data.passWordConfirm !== data.passWord && myForm.passWordConfirm.$dirty'>
     					 	密码和确认密码不一致
     					 </div>
  				</div>
  				
  				<div class="form-group container-fluid"
  					ng-class="{'has-error' :myForm.email.$invalid && myForm.email.$dirty}" >
    				<label class="control-label">邮箱</label>
   				    	<!--autocomplete='off'的意思是关闭记录,防止浏览器缓存-->
     					 <input type="email" autocomplete="off" name="email" class="form-control" 
     					 	placeholder="邮箱地址" ng-model='data.email' ng-required="true" > 
     					 	<!--空是符合邮箱格式的  这里还可以用正则-->
     					 <div class="alert alert-danger" 
     					 	ng-show='myForm.email.$error.email || myForm.email.$dirty && myForm.email.$error.required'>
     					 	请输入正确的邮箱格式
     					 </div>
  				</div>
  				
  				<div class="form-group container-fluid"
  					ng-class="{'has-error' :myForm.blog.$invalid && myForm.blog.$dirty}" >
    				<label class="control-label">邮箱</label>
   				    	<!--autocomplete='off'的意思是关闭记录,防止浏览器缓存-->
     					 <input type="url" autocomplete="off" name="blog" class="form-control" 
     					 	placeholder="博客地址" ng-model='data.blog' ng-required="true" > 
     					 	<!--空是符合邮箱格式的  这里还可以用正则-->
     					 <div class="alert alert-danger" 
     					 	ng-show='myForm.blog.$error.url|| myForm.blog.$dirty && myForm.blog.$error.required'>
     					 	请输入正确的网址格式
     					 </div>
  				</div>
			</form>
		</div>
	</body>
</html>
